<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Tier3Lib.Tier3"
               behaviorConfiguration = "Tier3MEXBehavior">
        <endpoint address = ""
                  binding = "basicHttpBinding"
                  contract = "Tier3Lib.ITier3" />
        <endpoint address = "mex"
                  binding = "mexHttpBinding"
                  contract = "IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Tier3"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name = "Tier3MEXBehavior">
          <serviceMetadata httpGetEnabled = "True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>